<html>
    <head>
        <tile=Abnish's Blog></title>
    </head>
    <body>
          <div>
            <h1><a href="/">Abnish's Blog</h1>
          </div>

          {% for posts in posts %}
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>Gram Panchayat Development Plan and its component</p>
            <p>{{ post.text|linebreaksbr }}
          </div>

          <div>
            <p>published: 16.10.2014, 6:14 a.m</p>
            <h2><a href="">My second post</a></h2>
            <p>Issues in Gram Panchayat Development Plan.</p>
          </div>
    </body>
</html>

